.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2 {
    margin-bottom: 8px;
    font-size: 24px;
    /* Set default font size for the title */
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 10px 0;
    /* Add padding to the top and bottom for better spacing */
}

.card-list::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for a cleaner look */
}

.card-list .card {
    position: relative;
}

.card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    /* Set default font size for the text */
}

@media (max-width: 800px) {
    .title-cards {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .title-cards h2 {
        font-size: 20px;
        /* Adjust title font size for smaller screens */
    }

    .card-list img {
        width: 200px;
        /* Adjust image width for smaller screens */
    }

    .card-list .card p {
        font-size: 12px;
        /* Adjust text font size */
    }
}

@media (max-width: 500px) {
    .title-cards h2 {
        font-size: 15px;
        /* Further adjust title font size for even smaller screens */
    }

    .card-list img {
        width: 165px;
        /* Adjust image width further */
    }

    .card-list .card p {
        font-size: 10px;
        /* Adjust text font size further */
    }
}