.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 18px;
  color: #e5e5e5;
  background-color: #141414;
  /* Dark background color */
  background-image: none;
  /* Remove gradient if not needed */
  z-index: 1;
  transition: background-color 0.3s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left img {
  width: 90px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-left ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-left ul li:hover {
  color: #e50914;
  /* Highlight color on hover */
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  border-radius: 4px;
  width: 35px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar-profile .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 14px 22px;
  border-radius: 2px;
  z-index: 10;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar-profile .dropdown p {
  font-size: 14px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown,
.navbar-profile .dropdown.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }

  .navbar-left ul {
    display: none;
    /* Hide menu on smaller screens */
  }

  .navbar-left img {
    width: 60px;
    /* Adjust logo size */
  }
}

@media (max-width: 500px) {
  .navbar img {
    height: 20px;
    /* Adjust icon size */
  }

  .navbar-right {
    gap: 10px;
  }
}